.custom-shape-divider-top-1631483384 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631483384 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-top-1631483384 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1631596114 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631596114 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 131px;
}

.custom-shape-divider-top-1631596114 .shape-fill {
  fill: #dbe2ef;
}

.custom-shape-divider-top-1631600167 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631600167 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 201px;
}

.custom-shape-divider-top-1631600167 .shape-fill {
  fill: #3f72af;
}

.color-1 {
  background-color: #dbe2ef;
}

.color-2 {
  background-color: #3f72af;
}

.color-3 {
  background-color: #112d4e;
}

html {
  scroll-behavior: smooth;
}
